# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Tests locales
tests/

# Temporales
*.tmp
*.log